<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Pengguna</title>
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="/static/images/user-avatar.png" alt="Profil Gambar">
            <h1>Selamat datang, {{ user.nama }}</h1>
        </div>
        <div class="profile-details">
            <h2>Informasi Pengguna:</h2>
            <p>Nama: {{ user.nama }}</p>
            <p>Alamat: {{ user.alamat }}</p>
        </div>
        <div class="profile-actions">
            <button id="logout-button">Logout</button>
        </div>
    </div>

    <script src="/static/js/profile.js"></script>
</body>
</html>
